:root{
	--b: #000;
	--t: #f00;
	--a: #00f;
}

html{
	background: var(--b);
}

body {
margin: 0px;
}

#header {
background: var(--b);
text-align: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

#header h1 {
margin: 0px 0px 0px 0px;
padding: 30px 0px 10px 0px;
text-align: center;
font-size: 600%;
font-family: georgia;
}

#header h1 a{
	font-family: georgia;
	color: var(--t);
	text-decoration: none;
}

#nav ul{
margin: 0px;
padding: 0px;
text-align: center;
/* background-image: linear-gradient(to top,#000,#333); */
}

#nav ul li{
display: inline-block;
padding: 8px 0px;
margin: 0px;
}

#nav ul li a {
background: var(--b);
color: var(--t);
text-decoration: none;
font-size: 200%;
margin: 0px 4px;
padding: 0px 8px;
border-radius: 9px;
/* background-image: linear-gradient(to bottom,#333,#222); */
border: 1px solid red;
}

#content {
padding: 5px 20px 50px 20px;
background: var(--b);
text-align: left;
/* background-image: linear-gradient(to bottom,#000,#333); */
/* border: 1px solid red; */
}

#content div{
background: var(--b);
padding: 10px;
margin: 10px 10px 0px 10px;
color: var(--t);
border: 2px solid red;
/* background-image: linear-gradient(to top,#888,#bbb); */
}

#content div a{
	color: var(--a);
	text-decoration: none;
}

#content div ul{
margin: 0px;
}

#content div h2{
padding: 0px;
margin: 0px;
}

#content div h2:first-letter{
font-family: Georgia;
padding: 0px;
margin: 0px;
color: var(--t);
font-size: 50px;
font-weight: normal;
font-style: italic;
text-decoration: none;
}

#content div h3{
	font-size: 25px;
}

#content div p{
	color: var(--t);
	padding-top: 10px;
}

#footer{
padding: 5px;
margin: 5px;
text-align: left;
font-family: arial;
color: var(--t);
font-size: 10px;
background: var(--b);
}

#footer a{
	color: var(--a);
	text-decoration: none;
}