{% extends 'inc/base.html' %}
{% import 'inc/macros.html' as mac%}
{% block content %}
	<div id='age'>
				<h2>Who am I?</h2>
				<br>
				{}<br>
				If you want to know more (for some reason).
				<a href='Contact.html'>contact me</a>.
			</div>
			<div>
				<h2>Programming</h2>
				I wrote my first 'Hello world!' program at the {{mac.link('https://www.spsejecna.cz/english', 'high school')}}. It was a C# window application. Later that year I tried making my first game for LudumDare.<br>
				The second year of school we were learning Java. And that year my friend told me about Python. Next year I started my Music Player (see <a href='Projects.html'>Projects</a>).<br>
				After finishing high school, I managed to get at {{mac.link('https://fit.cvut.cz/en', 'CVUT FIT')}}. But only for a very short time, because I started to hate C and didn't understand higher mathematics. So I quit.<br>
				Got a job in a near Hotel, and started learning programming myself. After some time i got a job at {{mac.link('http://www.steiner.cz/?ln=_en', 'Steiner')}} as JAVA (mainly Spring and Vaadin) developer.
			</div>
			<div>
				<h2>Gaming</h2>
				Everything started when I got a PlayStation 2 for my 5-7th birthday (don't remember exactly). There I got hooked on a game named 'Jak and Daxter' which was funny because I didn't know any English.<br>
				After some time (I think it was a gift for my 10th birthday) I got a PlayStation 3, great times.<br>
				But the most important moment was my 15th birthday when I got my first notebook and new age started. Also, that was the time I started going to high school where my programming lives started.<br>
				Since then I have played thousends of games, just switching them, never really got hooked on to any of them.<br>
				When I was 20, I got my new awesome desktop computer and here we are.
			</div>
{% endblock content %}