{% extends 'inc/base.html' %}
{% import 'inc/macros.html' as mac%}
{% block content %}
	<div>
				<h2>Contact/Social</h2><br>
				<ul>
					<li>jakub.novi.novacek@gmail.com</li>
					<li>Discord: TheNovi#9782</li>
					<li>{{mac.link('https://twitter.com/TheN0vi', 'Twitter')}}</li>
				</ul>
			</div>
			<div>
				<h2>Programing</h2><br>
				<ul>
					<li>{{mac.link('https://github.com/TheNovi', 'Github')}}</li>
				</ul>
			</div>
			<div>
				<h2>Gaming/Other</h2><br>
				<ul>
					<li>{{mac.link('http://steamcommunity.com/id/TheNovi', 'Steam')}}</li>
					<li>{{mac.link('https://osu.ppy.sh/users/10885395', 'Osu!')}}</li>
					<li>{{mac.link('https://anilist.co/user/TheNovi/','AniList')}}</li>
				</ul>
			</div>
{% endblock content %}