{% extends 'inc/base.html' %}
{% import 'inc/macros.html' as mac %}
{% block content %}
	{{mac.project('Utano', 'Utano', 'Beta', 'Simple but powerful music player. Newest generation of Nmp.')}}
	{{mac.project('Nui', 'Nui', 'Beta', 'Small UI library used in almost every of my Python projects')}}
	{{mac.project('TheNovi.github.io', 'TheNovi.github.io', 'Released', 'This site')}}
	{{mac.project('Novi Cypher', 'NoviCypher', 'Beta - with release (Source code only)', 'My first attempt for open-source cypher')}}
	<script src="../scripts/projects.js"></script>
{% endblock content %}