{% extends 'inc/base.html' %}
{% import 'inc/macros.html' as mac %}
{% block content %}
	{{mac.project('Utano', 'Utano', 'Beta', 'Simple but powerful music player. Newest generation of Nmp.')}}
	{{mac.project('Kimi', 'Kimi', 'Beta', 'Small offline manga reader. (Reads only local files, no support for downloading/reading from web)')}}
	{{mac.project('Novi Cypher', 'NoviCypher', 'Beta - with release (Source code only)', 'My first attempt for open-source cypher')}}
	{{mac.project('Music Player (Nmp+) DEPRECATED', 'Music-Player', 'Released (Source code)', 'Cute little music player done in Python 3. (New version in development: Utano)')}}
{% endblock content %}