html{
	background: #333;
}

body {
margin: 0px;
}

#header {
background:#333;
text-align: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

#header h1 {
margin: 0px 0px 0px 0px;
padding: 30px 0px 10px 0px;
text-align: center;
font-size: 600%;
font-family: georgia;
}

#header h1 a{
	font-family: georgia;
	color:#fff;
	text-decoration: none;
}

#nav ul{
margin: 0px;
padding: 0px;
text-align: center;
background-image: linear-gradient(to top,#000,#333);
}

#nav ul li{
display: inline-block;
list-style-typ: none;
padding: 8px 0px;
margin: 0px;
}

#nav ul li a {
background: black;
color: #bbb;
text-decoration: none;
font-size: 200%;
margin: 0px 4px;
padding: 0px 8px;
border-radius: 9px;
background-image: linear-gradient(to bottom,#333,#222);
background: #333
}

#obsah {
padding: 5px 20px 50px 20px;
background: #aaa;
text-align: left;
background-image: linear-gradient(to bottom,#000,#333);
/*border: 1px solid red;*/
}

#obsah div{
background: #fff;
padding: 10px;
margin: 10px 10px 0px 10px;
color: #eee;
border: 2px solid #222;
background-image: linear-gradient(to top,#888,#bbb);
background: #333;
}

#obsah div a{
	color:#55f;
	text-decoration: none;
}

#obsah div h2{
padding: 0px;
margin: 0px;
}

#obsah div h2:first-letter{
font-family: Georgia;
padding: 0px;
margin: 0px;
color: #eee;
font-size: 50px;
font-weight: normal;
font-style: italic;
text-decoration: none;
}

#obsah div h3{
	font-size: 25px;
}

#obsah div p{
	color: #666;
	padding-top: 10px;
}

#footer{
padding: 0px;
margin: 0px;
font-family: arial;
color: white;
font-size: 10px;
background: #333;
}