body {
margin: 0px;
background: #222;
background-image: linear-gradient(to bottom,#444,#000);
}

#wrap{
margin: 0px 5%;
}

#header {
background:#888;
text-align: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
background-image: linear-gradient(to top,black,white);
}

#header h1 {
margin: 25px 0px 0px 0px;
padding: 100px 0px 50px 0px;
text-align: center;
color: #111;
font-size: 600%;
font-family: georgia;
}

#header h1 a{
	color: #111;
	font-family: georgia;
	text-decoration: none;
}

#nav ul{
margin: 0px;
padding: 0px;
text-align: center;
}

#nav ul li{
display: inline-block;
list-style-typ: none;
padding: 4px 0px;
margin: 0px;
}

#nav ul li a {
background: black;
color: #aaa;
text-decoration: none;
font-size: 200%;
margin: 0px 4px;
padding: 0px 8px;
border-radius: 9px;
background-image: linear-gradient(to top,#555,black);
}

#nav ul li a:active{
font-weight: bold;
}

#obsah {
padding: 5px 20px 50px 20px;
background: #aaa;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
background-image: linear-gradient(to bottom,#000,#aaa);
/*border: 1px solid red;*/
}

#obsah div{
background: #fff;
padding: 10px;
margin: 20px 10px 0px 10px;
color: black;
border: 3px ridge #ddd;
background-image: linear-gradient(to top,#aaa,#fff);
}

#obsah div h2{
padding: 0px;
margin: 0px;
}

#obsah div h2:first-letter{
font-family: Georgia;
padding: 0px;
margin: 0px;
color: #444;
font-size: 50px;
font-weight: normal;
font-style: italic;
text-decoration: none;
}

#obsah div h3{
	font-size: 25px;
}

#obsah div p{
	color: #666;
	padding-top: 10px;
}

#footer{
padding: 0px;
margin: 0px;
font-family: arial;
color: white;
font-size: 10px;
}