{% extends 'inc/base.html' %}
{% import 'inc/macros.html' as mac%}
{% block content %}
<div id='age'>
    <h2>About me</h2>
    <br>
    {}
    <p>{{mac.link('html/About.html', 'More')}}</p>
</div>
<div>
    <h2>Contact</h2>
    <br>
    <ul>
        <li>jakub.novi.novacek@gmail.com</li>
        <li>{{mac.link('https://twitter.com/TheN0vi', 'Twitter')}}
        <li>{{mac.link('https://github.com/TheNovi', 'Github')}}
        <li>{{mac.link('http://steamcommunity.com/id/TheNovi', 'Steam')}}
    </ul>
    <p>
        <a href='html/Contact.html'>More</a>
    </p>
</div>
<div>
    <h2>Projects</h2>
    <br>
    <ul>
        <li>Utano {{mac.link('https://github.com/TheNovi/Utano', 'Github')}}
    </ul>
    <p>
        <a href='html/Projects.html'>More</a>
    </p>
</div>
{% endblock content %}